.button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}
/* 취소 버튼 */
.button-cancel {
  background-color: var(--button-cancel);
  color: var(--color-text-primary);
  border-color: var(--button-cancel-border);
}

.button-cancel:hover:not(:disabled) {
  background-color: var(--button-cancel-hover);
}

.button-cancel:active:not(:disabled) {
  background-color: var(--button-cancel-active);
}

/* 저장  */
.button-save {
  background-color: var(--button-primary);
  color: var(--color-text-primary);
  border-color: var(--button-primary-border);
}

.button-save:hover:not(:disabled) {
  background-color: var(--button-primary-disabled);
}
/* 추가 */
.button-add {
  background-color: var(--button-primary);
  color: var(--color-text-primary);
  border-color: var(--button-primary-border);
}

.button-add:hover:not(:disabled) {
  background-color: var(--button-primary-disabled);
}
