.button {
  padding: 8px 12px;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  border: none;
}
/* 취소 버튼 */
.button-cancel {
  background-color: var(--button-cancel);
  color: var(--color-text-primary);
  border: 1px solid var(--button-cancel-border);
}

.button-cancel:hover:not(:disabled) {
  background-color: var(--button-disabled);
}

.button-cancel:disabled {
  background-color: var(--button-disabled);
  color: var(--color-text-light);
  border: 1px solid var(--button-disabled-border);
}

/* 저장 버튼 */
.button-save {
  background-color: var(--button-primary);
  color: var(--color-text-secondary);
  border: none;
}

.button-save:hover:not(:disabled) {
  background-color: var(--button-primary-hover);
}

.button-save:active:not(:disabled) {
  background-color: var(--button-primary-active);
}
.button-save:disabled {
  background-color: var(--button-disabled);
}
/* 추가 버튼 */
.button-add {
  background-color: var(--button-primary);
  color: var(--color-text-secondary);
  border: none;
}

.button-add:hover:not(:disabled) {
  background-color: var(--button-primary-hover);
}

.button-add:active:not(:disabled) {
  background-color: var(--button-primary-active);
}
