/* 필드 영역 */
.form-field {
  margin-bottom: 20px;
}

.field-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--color-text-medium-dark);
  font-weight: 600;
  font-size: 16px;
}

.required-mark {
  color: #e53e3e;
  margin-left: 4px;
}

.field-input,
.field-textarea,
.field-date,
.field-select {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid var(--button-disabled);
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.field-input:hover,
.field-textarea:hover,
.field-date:hover,
.field-select:hover {
  border-color: var(--button-primary);
}

.field-input:focus,
.field-textarea:focus,
.field-date:focus,
.field-select:focus {
  border-color: var(--button-primary);
  outline: none;
  box-shadow: 0 0 0 2px var(--box-shadow);
}

.field-input::placeholder,
.field-textarea::placeholder,
.field-date::placeholder,
.field-select::placeholder {
  color: var(--color-text-light);
}

.field-textarea {
  min-height: 100px;
}

.date-input-container {
  position: relative;
}

.field-date {
  width: 162px;
  position: relative;
  color: var(--color-text-dark);
}

/* 달력 아이콘 */
.field-date::-webkit-calendar-picker-indicator {
  opacity: 0.25;
  cursor: pointer;
}

.field-date::-webkit-calendar-picker-indicator:hover {
  opacity: 0.8;
  cursor: pointer;
}

.field-date:not([value]),
.field-date[value=""] {
  color: transparent;
}

.field-date[value]:not([value=""]) {
  color: var(--color-text-dark);
}

.date-input-container {
  position: relative;
}

.date-input-container::after {
  content: "Select date";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-text-light);
  pointer-events: none;
}

.field-select {
  width: 85px;
  appearance: none;
  position: relative;
}

.select-container::after {
  content: "▼";
  font-size: 15px;
  position: relative;
  right: 25px;
  pointer-events: none;
  color: var(--color-text-light);
}
