:root {
  --color-primary: #4a7cff;
  --color-background: #f9fafb;
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-border: #345dd9;

  /* 버튼 색상 - 추후 이동*/
  --button-primary: #4a7cff;
  --button-primary-hover: #739fff;
  --button-primary-active: #345dd9;
  --button-primary-disabled: #e3e3e3;
  --button-primary-border: #4a7cfe;
  --button-cancel: #d1d1d1;
  --button-cancel-hover: #dfdfdf;
  --button-cancel-active: #c8c8c8;
  --button-cancel-disabled: #e3e3e3;
  --button-cancel-border: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

/* 레이아웃 컨테이너 */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
