:root {
  --color-primary: #4a7cff;
  --color-background: #f9fafb;
  --color-text-dark: rgba(0, 0, 0, 0.88);
  --color-text-primary: rgba(0, 0, 0, 0.65);
  --color-text-secondary: #ffffff;
  --color-border: #345dd9;
  --color-text-light: rgba(0, 0, 0, 0.25);

  /* 버튼 색상 - 추후 이동*/
  --button-primary: rgba(74, 124, 254, 1);
  --button-primary-hover: #739fff;
  --button-primary-active: #345dd9;
  --button-primary-disabled: #e3e3e3;
  --button-primary-border: #4a7cfe;
  --button-cancel: rgba(255, 255, 255, 1);
  --button-cancel-hover: #dfdfdf;
  --button-cancel-active: #c8c8c8;
  --button-cancel-disabled: #e3e3e3;
  --button-cancel-border: rgba(227, 227, 227, 1);
  --modal-bg: rgba(0, 0, 0, 0.45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

/* 레이아웃 컨테이너 */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
